body{
    background-color: rgb(225, 216, 213);
}

#container{
    min-height: 800px;
    position: relative;
}

#clock{
    text-align: center;
    font-size: 72px;
    background-color: #0cfbff;
    color: #fff;
    min-width: 380px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}