body{
    background-image: linear-gradient(to right, rgb(26, 25, 25), #2c3434 )
}

#container{
    min-height: 400px;
    position: relative;
}

#clock{
    text-align: center;
    font-size: 72px;
    background-color: #768a8b;
    color: #252727;
    min-width: 380px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    box-shadow: 0 0 15px white;
}

@media only screen and (min-width: 414px){
    clock{
        width: 100px;
    }
}